<html>
<head>
{% csrf_token %}
</head>
<body>
{% for question in last_questuion %}
<a href="detail/{{question.id}}">
{{ question }}
</a>
<ul>
<form method="post" action="vote/{{question.id}}">
{% csrf_token %}
{% comment %} <input type='hidden' name="_method" value="patch"> {% endcomment %}
{% for choice in question.choice_set.all %}
<li>
<label>{{choice.choice_text}}</label>
<input type="radio" value="{{choice.id}}" name="choice">
<p>vote:</p>
<p>{{choice.votes}}</p>
</li>
{% endfor %}
<input type="submit" value="submit">
</form>
</ul>
{% endfor %}
<body>
</html>